<% if following.nil? %>

<% else %>
  Following (<%= following.size %>)
  <ul>
    <% for user in following do %>
      <li><%= link_to user.username, user %></li>
    <% end %>
  </ul>
  Followers (<%= followers.size %>)
  <ul>
    <% for user in followers do %>
      <li><%= link_to user.username, user %></li>
    <% end %>
  </ul>
<% end %>


